<table class="categories" cellspacing="0">
  <% categories.each do |name, category| %>
    <tr class="category <%= "incomplete" unless category.complete? %>">
      <td class="key">
        <a class="text" href="<%= root_path %>?filters[key]=<%= Rack::Utils.escape("^#{category.name}") %>"><%= category.name %></a>
      </td>
    </tr>
  <% end %>
</table>
