<table class=categories cellspacing=0>
  <% categories.each do |category| %>
    <tr class=category>
      <td class=key>
        <a class=text href="/?filters[key]=^<%= category %>"><%= category %></a>
      </td>
    </tr>
  <% end %>
</table>
