<html>
  <head>
    <style>
      body {
        font-family: sans-serif;
      }

      .incomplete {
        background-color: #f99;
      }
    </style>
  </head>

  <body>
    <h1>i18n-yaml-editor</h1>

    <h2>Filter</h2>
    <form action=/ method=get>
      <input name=filter type=text value="<%= filter %>"/>
      <input type=submit value=Filter />
    </form>
    <form action=/ method=get>
      <input type=submit value=Clear />
    </form>

    <%= content %>
  </body>
</html>
