<html>
  <head>
    <style>
      body {
        font-family: sans-serif;
      }

      .incomplete {
        background-color: #f99;
      }
    </style>
  <body>
    <%= content %>
  </body>
</html>
