<html>
  <head>
    <style>
      body {
        font-family: sans-serif;
      }

      .incomplete {
        background-color: #f99;
      }
    </style>
  </head>

  <body>
    <h1>i18n-yaml-editor</h1>

    <h2>Filter</h2>
    <form action=/ method=get>
      <label>
        Key
        <input name=filters[key] type=text value="<%= filters["key"] %>" />
      </label>
      <br />
      <label>
        Text
        <input name=filters[text] type=text value="<%= filters["text"] %>" />
      </label>
      <br />
      <label>
        <input name=filters[incomplete] type=checkbox <%= "checked=checked" if filters["incomplete"] == "on" %> />
        Incomplete
      </label>
      <br />
      <input type=submit value=Filter />
    </form>
    <form action=/ method=get>
      <input type=submit value=Clear />
    </form>

    <%= content %>
  </body>
</html>
